@use '../../styles/variables' as *;

.footer {
  background: $bg-primary;
  padding: $spacing-md;
  text-align: center;
  border-top: 1px solid $border-color;
  color: $text-light;
  font-size: 14px;
  margin-top: auto;

  p {
    margin: 0;
  }
}